# ignorar por linguist
package-lock.json linguist-generated=true
*.sh linguist-vendored=true
*.bat linguist-vendored=true

package-lock.json merge=npm-merge-driver

# Asegurarte de que el contenido de la carpeta react-native se cuente
react-native/** linguist-vendored=false
